openapi: 3.0.1
info:
  title: SAP Ariba APIs
  version: 1.0.0
servers:
  - url: 'https://apigatewaydev.adient.com/sap-ariba/v1'
    description: Development
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: 'https://apigatewayqa.adient.com/sap-ariba/v1'
    description: Quality
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: 'https://apigateway.adient.com/sap-ariba/v1'
    description: Production
    variables:
      scheme:
        enum:
          - https
        default: https
security:
  - ApiKeyAuth: []
paths:
  /procurement-reporting-job/jobs:
    post:
      tags:
      - Procurement Reporting
      summary: Submit job Request
      description: Submit a job for a view template to retrieve data for a particular
        transaction document type.
      operationId: Submit job Request
      parameters:
      - name: realm
        in: query
        description: Customer realm name
        required: true
        schema:
          $ref: '#/components/schemas/Realm'
      - name: pageToken
        in: query
        description: page token to fetch next set of result
        schema:
          type: string
      requestBody:
        description: The "date" filters are mandatory. other filters can be overridden.
          Filters not defined as part of view template definition cannot be overridden.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitJobRequestrequest'
        required: true
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitJobRequestresponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource 
        500:
          description: If your URL is not constructed properly, you have trailing
            spaces in URl, request body format is wrong or ARIBA site is temporarily
            down
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternal'
  /procurement-reporting-jobresult/jobs/{jobId}:
    get:
      tags:
      - Procurement Reporting
      summary: Returns the status of the specified asynchronous operational reporting
        job
      description: 'Query the status of a submitted asynchronous operational reporting
        job: success, processing or error'
      operationId: Get Job Status
      parameters:
      - name: realm
        in: query
        description: Customer realm name
        required: true
        schema:
          $ref: '#/components/schemas/Realm'
      - name: jobId
        in: path
        description: The Job Id provided in the response of the post job API
        required: true
        schema:
          type: string
          default: b654b11c-31cd-4a56-b052-2271557dde341614654261411
      responses:
        200:
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetJobStatusresponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource 
        500:
          description: If your URL is not constructed properly, you have trailing
            spaces in URl, request body format is wrong or ARIBA site is temporarily
            down
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternal'
  /procurement-reporting-jobresult/jobs/{jobId}/files/{fileId}:
    get:
      tags:
      - Procurement Reporting
      summary: Requests file one at a time for completed job by specifying {fileId}
      description: This API is going to download the resulted data file. File is in
        zip format
      operationId: FileDownload
      parameters:
      - name: realm
        in: query
        description: Customer realm name
        required: true
        schema:
          $ref: '#/components/schemas/Realm'
      - name: jobId
        in: path
        description: The Job Id of the completed job
        required: true
        schema:
          type: string
          default: b654b11c-31cd-4a56-b052-2271557dde341614654261411
      - name: fileId
        in: path
        description: The file Id for the generated file after job is completed. File
          is a .zip file
        required: true
        schema:
          type: string
          default: Fklrfn2kx.zip
      responses:
        200:
          description: A zip file containing records.txt
          content:
            zip:
              schema:
                type: string
                format: binary
        400:
          description: Job not found
          content:
            zip:
              schema:
                $ref: '#/components/schemas/ErrorJob'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource 
        500:
          description: If your URL is not constructed properly, you have trailing
            spaces in URl, request body format is wrong or ARIBA site is temporarily
            down
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInternal'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    Filters:
      title: Filters
      required:
      - updatedDateFrom
      - updatedDateTo
      type: object
      properties:
        updatedDateFrom:
          type: string
          description: ""
          example: 2017-07-06T23:55:31Z
        updatedDateTo:
          type: string
          description: ""
          example: 2017-07-06T23:55:31Z
    FilterExpression:
      title: FilterExpression
      required:
      - field
      - name
      - op
      type: object
      properties:
        name:
          type: string
          description: Customized name for the field. This field will be passed while
            posting a job. e.g TimeCreatedFrom/MyTimeCreated/createdFrom
        field:
          type: string
          description: Field name which is a filter key and defined in whitelist.
            e.g TimeCreated
        op:
          type: string
          description: Operations allowed. <= >= == <> IN LIKE NOT LIKE
        defaultValue:
          type: string
          description: Passing defaultvalue is optional. Default value can always
            be overridden.
      example:
        filterExpressions:
        - name: createdDateFrom
          field: TimeCreated
          op: '>='
          defaultValue: 2017-11-05T01:01:59Z
        - name: createdDateTo
          field: TimeCreated
          op: <=
          defaultValue: 2017-11-06T01:01:59Z
        - name: StatusInList
          field: StatusString
          op: IN
          defaultValue:
          - Approved
          - Canceled
          - Canceling
          - Collaborating
          - Collaboration
          - Completed
          - Composing
          - DeniedInvalidOrdered
          - Ordering
          - Received
          - Receiving
          - Submitted
    SubmitJobRequestrequest:
      title: Submit job RequestRequest
      required:
      - filters
      - viewTemplateName
      type: object
      properties:
        viewTemplateName:
          type: string
          description: ""
        filters:
          $ref: '#/components/schemas/Filters'
        requestId:
          type: string
          description: The requestid used to create link between the multiple requests
            by the customer.
      example:
        viewTemplateName: Requisition_PeopleSoft_updatedRange
        filters:
          updatedDateFrom: 2017-07-06T23:55:31Z
          updatedDateTo: 2017-07-11T10:00:00Z
    SubmitJobRequestresponse:
      title: Submit job RequestResponse
      required:
      - createdDate
      - currentPageNum
      - currentPageRecordsCount
      - documentType
      - files
      - filesInCurrentPage
      - filterExpressionsSnap
      - filters
      - jobId
      - pageToken
      - requestId
      - selectAttributesSnap
      - status
      - totalNumOfFiles
      - totalNumOfPages
      - totalNumOfRecords
      - viewTemplateName
      type: object
      properties:
        jobId:
          type: string
          description: The generated Job Id
          example: c1f53a792-0282-4505-be90-558c2e2652561512101983835
        files:
          type: array
          description: Files will be generated once the Job is in completed state
          items:
            type: string
        status:
          type: string
          description: 'The possible job status are : pending, Inprogress, completed
            and expired'
        createdDate:
          type: string
          description: The job creation time
        viewTemplateName:
          type: string
          description: viewtemplate name with which job is submitted
        filters:
          $ref: '#/components/schemas/Filters'
        documentType:
          type: string
          description: Procurement transaction dcument type for which current job
            is submitted
        selectAttributesSnap:
          type: array
          description: Select attributes defined for the view
          items:
            type: string
        filterExpressionsSnap:
          type: array
          description: Filter criteria defined for view
          items:
            $ref: '#/components/schemas/FilterExpression'
        pageToken:
          type: string
          description: page token to fetch next set of result
        totalNumOfRecords:
          type: integer
          description: Total Number Of Records
        currentPageRecordsCount:
          type: integer
          description: Current Page Records Count
        totalNumOfPages:
          type: integer
          description: Total No Of Pages
        currentPageNum:
          type: integer
          description: Current Page Number
        totalNumOfFiles:
          type: integer
          description: Total number of files
        filesInCurrentPage:
          type: integer
          description: Files in current page
        requestId:
          type: string
          description: The requestid used to create link between the multiple requests
            by the customer.
    ErrorInternal:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: 500
        message:
          type: string
          example: Authentication failed with SAP Ariba
    GetJobStatusresponse:
      title: Get Job StatusResponse
      required:
      - createdDate
      - currentPageNum
      - currentPageRecordsCount
      - documentType
      - files
      - filesInCurrentPage
      - filterExpressionsSnap
      - filters
      - jobId
      - pageToken
      - requestId
      - selectAttributesSnap
      - status
      - totalNumOfFiles
      - totalNumOfPages
      - totalNumOfRecords
      - viewTemplateName
      type: object
      properties:
        jobId:
          type: string
          description: The job id for which is status is being checked
          example: c1f53a792-0282-4505-be90-558c2e2652561512101983835
        files:
          type: array
          description: File ids generated once job is completed
          items:
            type: string
        status:
          type: string
          description: 'The possible job status are : pending, Inprogress, completed
            and expired'
        createdDate:
          type: string
          description: The job creation time
        viewTemplateName:
          type: string
          description: viewtemplate name with which job is submitted
        filters:
          $ref: '#/components/schemas/Filters'
        documentType:
          type: string
          description: Procurement transaction dcument type for which current job
            is submitted
        selectAttributesSnap:
          type: array
          description: Select attributes defined for the view
          items:
            type: string
        filterExpressionsSnap:
          type: array
          description: Filter criteria defined for view
          items:
            $ref: '#/components/schemas/FilterExpression'
        pageToken:
          type: string
          description: page token to fetch next set of result
        totalNumOfRecords:
          type: integer
          description: Total Number Of Records
        currentPageRecordsCount:
          type: integer
          description: Current Page Records Count
        totalNumOfPages:
          type: integer
          description: Total No Of Pages
        currentPageNum:
          type: integer
          description: Current Page Number
        totalNumOfFiles:
          type: integer
          description: Total number of files
        filesInCurrentPage:
          type: integer
          description: Files in current page
        requestId:
          type: string
          description: The requestid used to create link between the multiple requests
            by the customer.
    ErrorJob:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: string
          example: JobNotFound
        message:
          type: string
          example: Job not found
    Realm:
      type: string
      enum:
        - sap
        - qad